@font-face {
    font-family: 'SF Pro Display';
    src: url("https://www.minhphan03.com/assets/fonts/SFNSText-Regular.otf") format("OpenType");
    font-weight: normal; 
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url("https://www.minhphan03.com/assets/fonts/SFNSText-Bold.otf") format("OpenType");
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Garamond Pro';
    src: url("https://www.minhphan03.com/assets/fonts/GaramondPremrPro-It.otf") format("OpenType");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Garamond Pro';
    src: url("https://www.minhphan03.com/assets/fonts/GaramondPremrPro.otf") format("OpenType");
    font-weight: normal; 
  }
  
  @font-face {
    font-family: 'Garamond Pro';
    src: url("https://www.minhphan03.com/assets/fonts/GaramondPremrPro-Bd.otf") format("OpenType");
    font-weight: bold;
  }
  