<header aria-hidden="true" class="no-print" style="padding-top: 1.5rem;">
    <!--<h1 class="logo">{{ site.title }}</h1>-->
    <nav role="navigation" aria-hidden="true">
<ul>
    <li>
        <div style="justify-content: right; display: flex; align-items: right;">
            <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
                <div></div>
            </button>
        </div>
     </li>
    {% for item in site.data.navigation.links %}
        {% assign current = page.url | downcase | split: '/' %}
        {% assign item_url = item.url | downcase | split: '/' %}
        <li class="{% if item_url[1] == current[1] %}active{% endif %}">
            <a href="{{ item.url }}"> {{ item.title }}</a>
        </li>
    {% endfor %}
 
</ul>

</nav>
</header>
