@use 'utility/screensize';
@use 'utility/fonts';
@use 'utility/timeline-photos.scss';
@use 'utility/timeline-music.scss';
@use 'utility/gallery.scss';

*,
:after,
:before {
	box-sizing: border-box;
	// background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

#theme-toggle {
	opacity: 0.65;
	position: relative;
	border-radius: 5px;
	height: 25px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	transition: opacity 0.3s ease 0s;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0px;
	appearance: none;
	transform: scale(0.8);
}


html,
html[data-theme="light"] {
	--text-font: 'SF Pro Display';
  	--blog-font: 'Garamond Pro';
	--source-code-font: 'Source Code Pro';
	--very-light-text-color: rgb(222, 222, 222);
	--light-text-color: #86CD63;
	--medium-text-color: #117b05;
	--main-text-color: #333333;
	--highlight-text-color: #6cb4a0;
	--dark-text-color: #393e46;
	--link-color: rgb(50, 87, 209);
	--code-bg-color: rgb(245, 245, 245);
  --menu-bg-color: rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);

	#theme-toggle div {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: none;
		background-color: var(--theme-ui-colors-transparent, transparent);
		transform: scale(1);
		transition: all 0.45s ease 0s;
		overflow: hidden;
		box-shadow: inset 8px -8px 0px 0px var(--theme-ui-colors-toggleIcon, #2d3748);

		&::before {
			content: "";
			position: absolute;
			right: -9px;
			top: -9px;
			height: 24px;
			width: 24px;
			border: none;
			border-radius: 50%;
			transform: translate(0px, 0px);
			opacity: 1;
			transition: transform 0.45s ease 0s;
		}

		&::after {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: -4px 0px 0px -4px;
			position: absolute;
			top: 50%;
			left: 50%;
			box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				0 23px 0 var(--theme-ui-colors-toggleIcon, #2d3748), 23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				-23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				-15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				-15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748);
			transform: scale(0);
			transition: all 0.35s ease 0s;
		}
	}
}

html[data-theme="dark"] {
	--text-font: 'SF Pro Display';
	--source-code-font: 'Source Code Pro';
  	--blog-font: 'Garamond Pro';
	--very-light-text-color: #EEE;
	--light-text-color: #9889e2;
	--medium-text-color: #683BAB;
	--main-text-color: #EAEAEA;
	--highlight-text-color: #6cb4a0;
	--dark-text-color: rgb(36, 38, 42);
	--link-color: #ff8c00; // F7821B
	--code-bg-color: rgb(36, 38, 42);
  	--menu-bg-color: rgb(19, 20, 24);
	background-color: rgb(19, 20, 24);

	#theme-toggle div {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 4px solid var(--theme-ui-colors-toggleIcon, #cbd5e0);
		background-color: var(--theme-ui-colors-toggleIcon, #cbd5e0);
		transform: scale(0.55);
		transition: all 0.45s ease 0s;
		overflow: visible;
		box-shadow: none;

		&::before {
			content: "";
			position: absolute;
			right: -9px;
			top: -9px;
			height: 24px;
			width: 24px;
			border: 2px solid var(--theme-ui-colors-toggleIcon, #cbd5e0);
			border-radius: 50%;
			transform: translate(14px, -14px);
			opacity: 0;
			transition: transform 0.45s ease 0s;
		}

		&::after {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: -4px 0px 0px -4px;
			position: absolute;
			top: 50%;
			left: 50%;
			box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				0 23px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0), 23px 0 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				-23px 0 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				15px 15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				-15px 15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				15px -15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				-15px -15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0);
			transform: scale(1);
			transition: all 0.35s ease 0s;
		}
	}
}

head {
	display: none !important;
}

body {
	font-family: var(--text-font), normal;
	text-rendering: optimizeLegibility;
	line-height: 1.75;
	color: var(--main-text-color);
}

main {
	display: flex;
	// flex-wrap: wrap;
	max-width: 70rem;
	margin: 0 auto 0;
	padding: 2rem 1.5rem 0 1.5rem;
	height: 100vh;
  
}


a {
	color: var(--link-color);
	text-decoration: none;
}

.meta {
	margin: 1.4rem 0;
  // padding-left: 1rem;
}

code,
pre {
	background: var(--code-bg-color);
	margin: 0 -27px;
	border-width: 1px;
}

code {
	font-family: var(--source-code-font), monospace;
	margin: unset;
	padding: 0.1rem;
	color: var(--highlight-text-color);
}

pre code {
	background-color: unset;
	color: unset;
}

pre {
	border-width: 3px;
	padding: 0.8rem;
	white-space: pre-wrap;
	border-style: none none none solid;
	border-color: var(--light-text-color);
}

hr {
	background: var(--light-text-color);
	height: 1px;
	border: 0;
}

header a {
	text-decoration: none;
  	font-weight: bold;

}

header li {
	margin-bottom: 0.3rem;
	text-align: right;
	margin-right: 1rem;
  :hover {
    text-decoration: underline;
  }
}


header,
section {
	padding: 1rem ;
}

.content-column {
  flex: 1 1 auto;
  overflow-y: auto;
}

blockquote {
	font-style: italic;
	border-left: 5px solid var(--dark-text-color);
	padding-left: 1rem;
}

h1, h2, h3, h4 {
	font-weight: bold;
	margin-bottom: 0.8rem;
}

h1 {
	// color: var(--main-text-color);
	text-transform: uppercase;
	font-size: 2rem;
  // line-height: normal;
}

h2 {
	font-size: 1.9rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.6rem;
}



.active a {
	font-style: italic;
	cursor: default;
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
	margin-bottom: 0.5rem;
}

.post { 
  width: 80%;
  max-width: 100%;
  margin: 0 auto 0 auto;

  p {
    font-family: var(--blog-font), "Times New Roman", Times, serif;
    font-size: 1.35rem;
    margin: 1.5rem 0 1.5rem 0;

    > img {
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

	a:hover {
		text-decoration: underline;
	}
  }

  iframe {
    max-width: 100%;
    aspect-ratio: 16/9;
	margin: 0 auto !important; 
	display: block !important;
  }

  li {
    font-size: 1.35rem;
  }

  ol, ul {
    font-family: var(--blog-font), 'Times New Roman', Times, serif;
    padding-left: 3rem;
  }

  > h1.title {
    font-size: 2.5rem;
    font-family: var(--blog-font), normal;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
    // padding-left: 1rem;
  }

  h2, h3, h4 {
    font-family: var(--blog-font);
    padding-top: 1rem!important;
  }
}



.post .meta,
.post > time {
  font-family: var(--text-font), Arial, Helvetica, sans-serif;
	margin-bottom: 0;
	margin-top: 1rem;
}


// list of blog posts
.posts li {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;

	:hover {
		text-decoration: underline;
	}
}

.posts li a,
.posts li div,
.projects li a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  margin: 0;
}


.posts li time,
.projects li time {
	// padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

time {
	color: var(--main-text-color);
  // padding-left: 1rem;
}

.highlight {
	margin: 0px;
}


.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.social-footer {
  padding-bottom: 0.8rem;

  .social-footer-icons {
     
    .fa {
      padding: 0px 4px 7px 4px;
      font-size: 2rem;
      color: #a9a9a9;

      &:hover {
        color: var(--link-color);
        transition: color 0.3s ease-in;
      }
    }
  }
}

.info-row {
  display: flex;
  flex-direction: row;
}

.info-column-1 {
	width: 15rem;
	padding: 1rem 1rem 0 0;

  	img {
		border-radius: 50%;
		max-width: 100%;
		// box-shadow: 0 1px 2px rgba(0, 0, 0, 0.502);
		transition: all 0.3s ease-in-out;
	}

	img:hover {
		-o-transition: .5s;
		-moz-transition: .5s;
		transition: .5s;
		-ms-transition: .5s;
		-webkit-transition: .5s;
		box-shadow: .5rem -.5rem 0px #3f3f3f;
	}
}

.info-column-2 {
  width: 70%;
  padding: 1rem 0 0 1rem;
}

.mobile {
	display: none;
}

.bubble-element{
  padding: 1px 5px 1px 5px;
  border-radius: 7px;
  border: 2px solid ;
  color: #a9a9a9;
  transition: color 0.5s ease-in, border-color 0.5s ease-in;
  cursor: default;
  text-align: center;

  &:hover {
    color: var(--menu-bg-color);
    border-color: var(--light-text-color);
	background-color: var(--light-text-color);
    transition: color 0.5s ease-in, border-color 0.5s ease-in;
    cursor: default;
  }
}

.bubble-list li {
  display: inline-block;
  margin-bottom: 6px;
  margin-right:5px;
  
}

.featured-image{
  width: 130%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
  margin: 0 -10% 0 -15%;
  padding-bottom: 1rem;
  // mask-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.75));
}

nav {
  flex: 0 0 auto
}
nav ul {
  border-right: 2px solid var(--code-bg-color);
}


header ul {
  list-style: none;
}

figcaption {
	font-size: smaller;
}

.bio {
	margin-bottom: 1rem;
}

::selection {
background-color: #fffba0;
color: #333;
}


.search-article {
  position: relative;
  margin-top: 2rem;
 

  label[for="search-input"] {
    position: relative;
    top: -10px;
    left: 11px;
  }

  input[type="search"] {
    top: -1rem;
    left: 0;
    border: 0;
    width: 100%;
    height: 30px;
    outline: none;
    position: absolute;
    border-radius: 5px;
    padding: 10px 10px 10px 35px;
    color: var(--main-text-color);
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.1);
    &::-webkit-input-placeholder {
      color: #808080;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

#search-results {
  list-style: none;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  li {
    text-align: center;
  }
}

#search-results li::before {
	content: ">";
	margin-left: -1.3em;
	width: 1.3em;
	color: var(--main-text-color);
}

.post-nav {
  display: flex;
  position: relative;
  margin-top: 0;
  border-top: 2px solid var(--light-text-color);
  line-height: 1.4;
  justify-content: space-between;

  .post-nav-item {
    border-bottom: 0;
    padding-bottom: 10px;

    .post-title {
      color: var(--main-text-color);
    }

    &:hover,
    &:focus {
      .post-title {
        color: var(--link-color);
        opacity: 0.9;
      }
    }

    .nav-arrow {
      font-size: 17px;
      color: var(--main-text-color);
      margin-bottom: 3px;
	  font-weight: bold;
    }

    width: 50%;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
  }

  .post-nav-next{
    margin-left: auto;
    text-align: right;
    padding-right: 0;
    padding-left: 20px;
  }


} 	


.tags ul {
	list-style: none;
}

.tags li {
	white-space: normal;
	text-overflow: ellipsis;
}



// .container {
//   width: 100vw; /* Set this to the width you prefer */
//   display: inline-block;
//   position: relative;
//   background-color: #eee;
// }


// .auto-scale {
//   aspect-ratio: 3/2;
//   position: relative;
//   display: block;
//   max-width: 700px !important;
//   width: 90% !important;
// }

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
